[submodule "toggl_punish_utils"]
	path = toggl_punish_utils
	url = https://github.com/Depixelate/toggl-punish-utils.git
[submodule "toggl-punish-utils"]
	path = toggl-punish-utils
	url = https://PAT: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@github.com/Depixelate/toggl-punish-utils.git
